*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;

}

h1 {
  color: blue;
  text-align: center;
text-decoration: underline;
 border-color: blue;

}
.img1 {

  text-align: center;
  padding-top: 40pt;

}
