*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
  margin-top: 100px;

}

h1 {
  color:white;
  text-align: center;
  

}


h2 {
text-align: center;
  font-size: 50px;
  border: 4px;
  transition: all 1s ease-in-out;
}

h2:hover {
  letter-spacing: 1rem;
}
#Navigationsleiste {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:blue;
position: fixed;
width: 100%;
top: 0;
height: 46.4px;



}

li {

  float: left;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;

}
li a:hover{
  background-color: darkblue;
}

.active {

  background-color: darkblue;
}
#Titel {

  border: 0px solid  ;
  border-radius: 0px;
  margin: 0px; 
  padding: 10px;
  width: 100%;
  height: 500px; 
  font-size: 70pt;
  background-image: url(https://static.spektrum.de/fm/912/f2000x857/iStock-1495819409.jpg);
  background-position: bottom 100px;
}
main{
  color:white;
  font-size: 25px;
  margin: 20px;
  margin-right: 800px;
  margin-top: 90px;
  border: 2px ;
  border-radius: 1px ;
 background-color: rgb(25, 133, 169);
 padding: 10px;
 text-align: justify;
}

.text1 {
  color:white;
  font-size: 25px;
  margin: 20px;
  margin-right: 800px;
  margin-top: 90px;
  border: 2px ;
  border-radius: 1px ;
 background-color: rgb(25, 133, 169);
 padding: 10px;
 text-align: justify;
}
.text2 {
  color:white;
  font-size: 25px;
  margin: 20px;
  margin-right: 800px;
  margin-top: 90px;
  border: 2px ;
  border-radius: 1px ;
 background-color: rgb(25, 133, 169);
 padding: 10px;
 text-align: justify;
}
div {
  background-color: lightblue;

}
.img1 {
border: 2px;
margin-left: 900px;
  width: 600px;
 
  
}
.img2 {
  border: 2px;
  margin-left: 900px;
  width: 600px;
  
}
.img3 {
  border: 2px;
  margin-left: 900px;
  width: 600px;
  
}
.img4 {
  border: 2px;
  margin-left: 900px;
  width: 600px;
}
.img5 {
  border: 2px;
  margin-left: 900px;
  width: 600px;
}
.img6 {
  border: 2px;
  margin-left: 900px;
  width: 600px;
}